<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking App - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <h2>Account Balance: ${{ balance|round(2) }}</h2>
        <div class="button-container">
            <button onclick="location.href='/transfer'">Transfer Money</button>
            {% if is_admin %}
                <button onclick="location.href='/admin'">Admin Panel</button>
            {% endif %}
            <button onclick="location.href='/stocks'">Purchase Stocks</button>
            <button onclick="location.href='/logout'">Logout</button>
            
        </div>
    
        <h2>Add a Comment:</h2>
        <form action="/add_comment" method="post">
            <textarea name="content" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    
        <h2>Comments from our valued customers:</h2>
        {% for comment in comments[::-1] %}
            <div class="comment-box">
                <strong>{{ comment[0] }}</strong>
                <hr>
                <!-- Vulnerable: adding "safe" here disables sanitization -->
                <!-- Flask uses Jinja, which automatically escapes input, -->
                <!-- so I had to go out of my way to allow XSS, but with other -->
                <!-- web apps sanitization must be done with libraries -->
                <p>{{ comment[1]|safe }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
