<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div style="position: absolute; top: 10px; left: 50px;">
        <h1><a href="/" style="text-decoration: none; color: inherit;">🏠Home</a></h1>
    </div>
    <div class="container">
        <h1>Login</h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <br>
            <button onclick=submit()>Login</button>
        </form>
        <p>Need an account? <a href="/register">Register here</a></p>
        
    </div>
</body>
</html>
