<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
    <!-- Non-sensitive reCAPTCHA site key  -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LdJs74rAAAAAJeXT4x3v1NLkwmS4O0iVrsbPJbV"></script>
</head>
<body>
    <div class="container">
        <h1>Secure Registration </h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form action="/register" method="post">
            
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="email">Email:</label><br>
            <input id="email" type="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <br>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</body>
</html>
