<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <h1>Reset Password</h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form action="/reset_password" method="post">
            <input type="hidden" name="token" value="{{ token }}">
            <label for="username">Account:</label><br>
            <input type="text" id="username" name="username" value="{{ username }}" disabled><br>
            <label for="password">New Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <br>
            <button onclick=submit()>Set New Password</button>
        </form>
    </div>
</body>
</html>
