<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
    </style>
</head>
<body>
    <div class="container">
        <h1><u>Stocks</u></h1>
        <p>(Purchasing to be implemented soon)</p>
        <br>
        <h1>Pot o' Honey Banking | Rating: A+</h1>
        <h3>$30.00 a share</h3>
        <br>
        <h1>ISSS | Rating: A-</h1>
        <h3>$20.00 a share</h3>
        <br>
        <h1>Cantaloupe Stock | Rating: F</h1>
        <h3>$00.01 a share</h3>
        <br>
    </div>

</body>
</html>
