<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <h1>Transaction History for {{ target_user }}</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Timestamp</th>
        </tr>
        {% for txn in transactions %}
        <tr>
            <td>{{ txn[0] }}</td>
            <td>{{ txn[1] }}</td>
            <td>{{ txn[2] }}</td>
            <td>${{'%0.2f'| format(txn[3]|float)}}</td>
            <td>{{ txn[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
